html.dark {
  color-scheme: dark;
  --color-bg: #09090b;
  --color-text: #acaaaa;
  --color-bg-secondary: #27272a;
  --color-border: #404040;
  background-color: #09090b !important;
  color: #e0e0e0 !important;
}

html.dark body {
  background-color: #09090b !important;
  color: #ffffff !important;
}

html:not(.dark) {
  color-scheme: light;
  background-color: #ffffff;
  color: #000000;
}

html:not(.dark) body {
  background-color: #ffffff;
  color: #000000;
}



::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b4d2ef, #e1d0f2);
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

html.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #60a5fa, #a78bfa);
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9dc5f9, #d4c7fc);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3b82f6, #8b5cf6);
}